<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album of the day</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/app.css" rel="stylesheet" />
    <meta property="og:title" content="Brvy's AOTD" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="website" />
</head>
<body>
    <h1>Brvy's AOTD</h1>
    <div class="headline">The album I picked to listen to each day. No shuffle, from start to the end at least once.</div>
    {{- $album := (where site.RegularPages.ByPublishDate.Reverse "Params.publishDate" (time (now.Format "2006-01-02"))) -}}
    {{- range $album -}}
    <div class="album">
        <div class="date">{{ .PublishDate.Format "2006-01-02" }}</div>
        <div class="cover">
            {{- with (resources.Get (.Param "cover")) }}
            <img src="{{ .RelPermalink }}" />
            {{- end }}
        </div>
        <div class="meta">
            <div>{{ .Param "artist" }} - {{ .Param "title" }} ({{ .Param "year" }})</div>
            <div class="spotify">
                <a href="{{ .Param "spotify" }}" target="_blank">Check it out on Spotify</a>
            </div>
        </div>
    </div>

    {{ partial "pagination.html" . }}
    {{- else -}}
        <div class="no-album">Unfortunately there's no album of the day for today. :(</div>
    {{- end }}
</body>
</html>